*.o
*.d
*.map
*.nmap
*.asm
*.axf
*.bin
platforms
platforms/bk7231n/bk7231n_os/Debug
platforms/bk7231n/bk7231n_os/tools/generate/config.json
platforms/bk7231n/bk7231n_os/tools/generate/*.cpr
platforms/bk7231n/bk7231n_os/tools/generate/*.out
platforms/bk7231n/bk7231n_os/tools/generate/*.bin
!platforms/bk7231n/bk7231n_os/tools/generate/bk7231n_bootloader.bin
!platforms/bk7231n/bk7231n_os/tools/generate/bk7231n_bootloader_enc.bin
!platforms/bk7231n/bk7231n_os/tools/generate/package.bin
